<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/password.css">
    <script src="https://kit.fontawesome.com/fcc1b3e424.js" crossorigin="anonymous"></script>
    <title>Download</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <i class="fa-solid fa-cloud-arrow-up fa-3x"></i>
                <h1>Upload It!</h1>
            </div>
        </header>
        <main>
            <h1>Download Your File</h1>
            <form action="/files/download/<%=fileID%>" method="post" class="download-form" data-file-id="<%=fileID%>">
                <label>Please type your password:</label>
                <input type="password" name="password" placeholder="Type your password" id="password">
                <input type="submit" value="Download">
                <div class="err-msg"></div>
            </form>
        </main>
        <footer>
            <div class="logo">
                <i class="fa-solid fa-cloud-arrow-up fa-3x"></i>
                <h1>Upload It!</h1>
            </div>
            <h1>Developed By: <span>Ahmed Gouasmia</span></h1>
            <div class="social">
                <a href="https://github.com/SilverBullet19">
                    <i class="fa-brands fa-github fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/in/ahmed-gouasmia-59baa1245/">
                    <i class="fa-brands fa-linkedin fa-2x"></i>
                </a>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="/download.js"></script>
</body>

</html>