@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
    --bg-color: #E5E5E6;
    --text-color: #1E202B;
    --primary-color: #0351F8;
    --secondary-color: #f8c65a;
    --hover-color: #f3b93d;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    background-color: var(--bg-color);
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10%;
    height: 10vh;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

header .logo i {
    color: var(--primary-color);
}

header .logo h1 {
    font-size: 40px;
    color: var(--text-color);
}

main {
    flex-grow: 1;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 15px;
}

main form label {
    font-size: 20px;
}

main form input[type="password"] {
    height: 25px;
    text-indent: 5px;
    border: 1px solid black;
    outline: none;
}

main form input[type="submit"] {
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid transparent;
    transition: 0.4s;
}

main form input[type="submit"]:hover {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: black;
}

main form .err-msg {
    color: red;
    font-size: 20px;
    font-weight: 500;
}

footer {
    padding: 10px 40px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

footer .logo i {
    color: var(--primary-color);
}

footer .social {
    display: flex;
    gap: 10px;
}

footer .social a {
    color: black;
}

@media (max-width: 768px) {
    header {
        padding: 20px;
    }
    header .burger-menu {
        display: block;
    }
    header nav {
        display: none;
    }
    header .logo .mobile-icon {
        display: block;
    }
    header .logo .desktop-icon {
        display: none;
    }
    header .logo h1 {
        font-size: 30px;
    }
    .start form {
        width: 85%;
    }
    .contact-us form {
        flex-direction: column;
    }
    .contact-us form .left textarea {
        width: 250px;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
    footer h1 {
        font-size: 27px;
    }
}